@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap");
body {
  font-family: "Titillium Web", sans-serif !important;
  background-color: #faeee7;
}
.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
